In [1]:
#1>
print("Hello Python")

Hello Python

In [2]:
#2>
a=10
b=20
sum = a+b
quo=b/a
print("sum is: ",sum," quotient is: ",quo)

sum is:  30  quotient is:  2.0

In [3]:
#3>
base= int(input("Enter base of the triangle: "))
height= int(input("Enter height of the triangle: "))
area=0.5*base*height
print("area of triangle is: ",area)

Enter base of the triangle: 12
Enter height of the triangle: 11
area of triangle is:  66.0

In [4]:
#4>
a=int(input("Enter data: "))
b=int(input("Enter data: "))
a,b=b,a
print(a,b)

Enter data: 11
Enter data: 12
12 11

In [19]:
#5>
import random
randomNumber = random.random()*10
int(round(randomNumber,0))

3