In [11]:
#1 KM to Miles
try:
  km=int(input("Enter distance in KM "))
  miles = km*0.6
  print("In miles: "+str(round(miles,2))+' miles')
except Exception as e:
  print(e)

Enter distance in KM 123
In miles: 73.8 miles

In [10]:
#2 Celsius to fahrenheit 
try:
  c = int(input("Enter temperature in celsius: "))
  farhen = (c*9/5)+32
  print("In farhenhiet: "+str(round(farhen,2))+'F')
except Exception as e:
  print(e)

Enter temperature in celsius: 0
In farhenhiet: 32.0F

In [15]:
#3 import calendar  
try:
  year = int(input("Enter year in number: "))  
  month = int(input("Enter month in number: "))  
  print(calendar.month(year,month))  
except Exception as e:
  print(e)

Enter year in number: 2021
Enter month in number: 1
    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [17]:
#4 
import math
try:
  a = int(input("enter a "))
  b = int(input("enter b "))
  c = int(input("enter c "))
  bsq4ac = (b**2)-(4*a*c)
  roots = (-b+math.sqrt(bsq4ac))/2*a 
  print("Roots are: ",roots)
except Exception as e:
  print(e)

enter a 1
enter b 6
enter c 8
Roots are:  -2.0

In [18]:
#5
var1 = input("enter first variable")
var2 = input("enter second variable") 
print("Initial Values: ",var1,var2)
var1,var2=var2,var1
print("Final Values: ",var1,var2)

enter first variable12
enter second variable11
Initial Values:  12 11
Final Values:  11 12